node_modules
dist
.tmp
bower_components/**/demo/**
bower_components/**/test/**
bower_components/**/*.md
bower_components/**/*.json

github-access-token-key.txt

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Maven
######################
/log/**
/target/**

######################
# Gradle
######################
.gradle/**

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Directories
######################
/build/**
/bin/**
/spring_loaded/**
/deploy/**

######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar

######################
# SASS
######################
.sass-cache/**
